<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Q-iitR</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
        body{
        height: 100vh;
        background-color:rgb(236, 153, 236);
      }
    </style>    
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Q-iitR</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="btn btn-success mx-2 my-1" aria-current="page" href="/profile/myprofile">My Profile</a>
              </li>
              
              
            </ul>
            
            <form action="/auth/logout"    method="post">
                <button type="submit" class="btn btn-secondary mx-2">Logout</button>
           </form>
          </div>
        </div>
      </nav>
    <div class="container">
        <h1 class="mb-1 display-5"><%=data.question%></h1> 
    
    <span class="text-muted mb-2 h6">
        <%=data.date.toLocaleString('en-IN')%>            
    </span>
    

    <div class="text-muted mb-2 h6">
        PostedbBy- <a href="/profile/showprofile/<%=data.askBy%>"><%=data.askBy%> </a>
    </div>
</div>
<div class="container">
   <h5 class="text-muted mb-2 display-5 text-center">Write Answer</h5>
   <form action="/question/answer/<%=data.id%>" method="post">
    <div class="mb-3">
      <textarea type="text" class="form-control" id="answer" name="answer"  aria-describedby="emailHelp">    </textarea>
    </div>
   
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<div class="container">
  <h5 class="text-muted mb-2 display-5 text-center">All Answers</h5>
  <div class="container" >
    <%data.answers.reverse().forEach(element=>{%>
      <div class="card mt-4 ">
        <div class="card-body ">
            <h4 class="card-title  mb-2 "><%=element.answer%></h4>
            <div class="card-subtitle text-muted mt-2"><%=element.date.toLocaleString('en-IN')%></div>
            <div class="card-text mb-3">WrittenBy-<a href="/profile/showprofile/<%=element.givenby%>"><%=element.givenby%></a></div>
            <%if(element.givenby===name){%>
              <form action="/answer/delete/<%=data.id%>/<%=element.id%>/<%=name%>" method="post" class="d-inline">
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
              
                <form action="/answer/edit/<%=data.id%>/<%=element.id%>/<%=name%>"  method="post">
                    <div class="mb-3">
                      <label for="question" class="form-label ">Edit:</label>
                      <input type="text" class="form-control  border border-danger" id="question" name="answer" aria-describedby="emailHelp">
                      
                    </div>
                   
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            <%} %>
              
        </div>
        
    </div>
    <%}) %>
   </div>

</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
        crossorigin="anonymous"></script>

</body>

</html>